/_bmad
/_bmad-output
/bmm
/.agent
/.cursor
/.gemini
/.kilocode
/.kiro
/.opencode
/.specify
/todo
*.docs/
/.build
docs/

# Flutter/Dart generated directories
.dart_tool/
build/
windows/flutter/ephemeral/
.flutter-plugins
.flutter-plugins-dependencies
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
*.iml
.idea/
.env
config.env